 @model List<Comment>

<div class="comments-area">
    <h4>Yorumlar</h4>
    @foreach (var item in Model)
    {

        <div class="comment-list">
            <div class="single-comment justify-content-between d-flex">
                <div class="user justify-content-between d-flex">
                    <div class="thumb">
                        <img width="42" height="42" src="@item.AppUser.ImageUrl" alt="">
                    </div>
                    <div class="desc">
                        <h5><a href="#">@item.AppUser.Name @item.AppUser.Surname</a></h5>
                        <p class="date">@item.CreatedDate.ToShortDateString()</p>
                        <p class="comment">
                            @item.Detail
                        </p>
                    </div>
                </div>
            </div>
        </div>
    }
</div>

@await Html.PartialAsync("~/Views/Comment/AddComment.cshtml", new Comment { ArticleId = (int)ViewBag.ArticleId })







